<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>PlayLocalVideo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>9547F61C1C801CD200E8C769</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9547F6301C801CD200E8C769</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9547F63B1C801CD200E8C769</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
